@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body{
    width: 100%;
    height: 125%;
    background-image: linear-gradient(to top right, rgb(97, 77, 77), #14202e);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.cadastroBackground{
    position: absolute;
    top: 8rem;
    left: 10rem;
    width: 100rem;
    height: 45rem;
    background-color: #103030;
    border-radius: 0.3rem;
    -webkit-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
}

.content-principal{
    width: 100%;
    height: 100%;
}

.content-centralizer{
    height: 100%;
    margin: auto;
}

.content{
    width: 100%;
    margin-top: 10px;
}

.content-3{
    margin-top: 6rem;
}

.cadastroBackground-1{
    position: absolute;
    top: 8rem;
    left: 29.5rem;
    width: 60rem;
    height: 60rem;
    background-color: #103030;
    border-radius: 0.3rem;
    -webkit-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
}

.content-principal2{
    display: none;
}

.planos{
    width: 100%;
    color: #ffffff;
    margin-top: 1rem;
}

.planos td{
    padding: 20px;
    text-align: center;
}

.plano-img{
    width: 4rem;
    margin: auto;
}

.plano-quadro{
    margin: auto;
    margin-top: 2rem;
}

.plano-quadro:hover {
    cursor: pointer;
}

.planos tr td:first-child{
    width: 40%;
    text-align: left;
}

.planos tr:not(.primeiro, .ultimo) td{
    border-bottom: 1px solid #ffffff;
}

.botao{
    display: block;
    border: none;
    background-color: #9c0000;
    color: white;
    border-radius: 3px;
    padding: 15px;
    width: 45%;
    margin: 15px auto;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.botao:hover {
    cursor: pointer;
    background-color: #ff0000;
}

.content-centralizer1{
    width: 65%;
    margin-top: 2.5rem;
}

.content-centralizer2{
    width: 60%;
    margin-top: 4.5rem;
}

.bandeiras{
    margin-bottom: 20px;
}

.bandeiras p{
    display: inline-block;
}

#cnpj{
    display: none;
}

input[type="text"]{
    display: block;
    width: 100%;
    padding: 20px 4px 20px 4px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #808080;
}

.opcoes{
    margin-bottom: 20px;
}

.radio:hover {
    cursor: pointer;
}

.ver-plano{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #c4c4c4;
    margin-bottom: 20px;
}

.text{
    margin-bottom: 50px;
}

#botao-assinatura{
    width: 100%;
}

.textEnd {
    text-align: justify;
}
.textEnd-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}